.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  white-space: nowrap;
  padding: var(--space-1) var(--space-3);

  background-color: var(--badge-bg, var(--muted));
  color: var(--badge-fg, var(--gray-700));

  font-weight: 500;
  line-height: 1;
  font-size: 0.875rem;
}

.default {
  --badge-bg: var(--muted);
  --badge-fg: var(--gray-700);
}

.info {
  --badge-bg: var(--info);
  --badge-fg: #fff;
}

.success {
  --badge-bg: var(--success);
  --badge-fg: #fff;
}

.warning {
  --badge-bg: var(--warn);
  --badge-fg: #fff;
}

.danger {
  --badge-bg: var(--danger);
  --badge-fg: #fff;
}

.soft.default {
  --badge-bg: var(--muted);
  --badge-fg: var(--gray-700);
}

.soft.info {
  --badge-bg: var(--info-light);
  --badge-fg: var(--info);
}

.soft.success {
  --badge-bg: var(--success-light);
  --badge-fg: var(--success);
}

.soft.warning {
  --badge-bg: var(--warn-light);
  --badge-fg: var(--warn);
}

.soft.danger {
  --badge-bg: var(--danger-light);
  --badge-fg: var(--danger);
}
